---
title: Colours
category: styleguide
description: "<p>Mauris convallis hendrerit ipsum quis ultricies. Aliquam ornare tincidunt ultrices. Sed tincidunt lacus et diam gravida ultricies. Suspendisse eu nunc a turpis molestie mollis eget in ligula. Vestibulum ultrices lacinia erat et tristique. Suspendisse orci magna, tincidunt ut velit sed, elementum maximus lacus.</p><p>Suspendisse ut erat vitae neque facilisis tempor. Donec pellentesque, turpis at semper mollis, justo nisl pharetra risus, consequat ornare turpis enim at odio.</p>"
---

<section class="gko-ptrnlab-colours">
	<header class="gko-ptrnlab-doc-header">
		<h1 class="gko-ptrnlab-doc-header__heading">Core colours</h1>
	</header>

	<ul class="gko-ptrnlab-colours__list">
		{{#each colours.core-colours}}
			<li class="gko-ptrnlab-colours__item">
				<div class="gko-ptrnlab-colours__colour" style="background-color: #{{hex}};"></div>
				<ul class="gko-ptrnlab-colours__item__list">
					<li class="gko-ptrnlab-colours__item__item">CMYK: <strong>{{cmyk}}</strong></li>
					<li class="gko-ptrnlab-colours__item__item">RGB: <strong>{{rgb}}</strong></li>
					<li class="gko-ptrnlab-colours__item__item">Hex: <strong>{{hex}}</strong></li>
				</ul>
			</li>
		{{/each}}
	</ul>
</section>

<section class="gko-ptrnlab-colours">
	<header class="gko-ptrnlab-doc-header">
		<h1 class="gko-ptrnlab-doc-header__heading">Extended colours</h1>
	</header>

	<ul class="gko-ptrnlab-colours__list">
		{{#each colours.extended-colours}}
			<li class="gko-ptrnlab-colours__item">
				<div class="gko-ptrnlab-colours__colour" style="background-color: #{{hex}};"></div>
				<ul class="gko-ptrnlab-colours__item__list">
					<li class="gko-ptrnlab-colours__item__item">CMYK: <strong>{{cmyk}}</strong></li>
					<li class="gko-ptrnlab-colours__item__item">RGB: <strong>{{rgb}}</strong></li>
					<li class="gko-ptrnlab-colours__item__item">Hex: <strong>{{hex}}</strong></li>
				</ul>
			</li>
		{{/each}}
	</ul>
</section>
