<div class="o-form__field {{invalidClass}} {{disabledClass}}">
	<label class="o-label" for="{{for}}">{{label}} {{#if optional}}<span class="o-label__note">{{text}}</span>{{/if}}</label>
	<input class="o-input" id="{{for}}" type="{{type}}" placeholder="{{placeholder}}" {{#if disabled}}disabled{{/if}}>
	{{#if invalid}}<span class="validation is-invalid">Please enter a value</span>{{/if}}
</div>